.portfolio {
  /* grid-template-columns: 20% 20px 1fr; */
  grid-template-columns: 30% 10px 1fr;
}

.portfolio-header {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
  /* padding: 20px; */
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  /* font-size: 2em; */
  color: #17bebb;
}

.portfolio-header h2 {
  font-size: 2em;
}

.portfolio-content {
  grid-column: 3/4;
  grid-row: 1/2;
  /* padding: 20px; */
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
}

.portfolio i {
  font-size: 2em;
  margin-right: 5px;
}
