.skills {
  grid-template-columns: 30% 20px 1fr;
}

.skills-header {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  color: #17bebb;
}

.skills-header h2 {
  font-size: 2em;
}

.skills-content {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  padding-right: 200px;
}

.skills-content i {
  font-size: 7em;
  /* margin: 40px; */
  margin-bottom: 50px;
  width: 80%;
}

.first-row {
  grid-row: 1/2;
}
.second-row {
  grid-row: 2/3;
}
.third-row {
  grid-row: 3/4;
}
.first-column {
  grid-column: 1/2;
}
.second-column {
  grid-column: 2/3;
}
.third-column {
  grid-column: 3/4;
}

@media only screen and (max-width: 1000px) {
  .skills-header {
    padding-top: 0;
    text-align: left;
    padding-bottom: 0;
  }

  .skills-content {
    padding-right: 0;
    padding-top: 50px;
  }

  .skills-content i {
    font-size: 4em;
  }
}