.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  /* background-color: white; */
  /* color: black; */
  padding: 10px;
  color: white;
}

.main-header h1 {
  display: inline-block;
  margin: 0;
  /* background-color: white; */
}

.header-nav {
  float: right;
  vertical-align: middle;
  /* background-color: white; */
}

.header-nav span {
  margin-left: 10px;
  /* background-color: white; */
}