.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;

  /* background-color: black; */
  /* background-color: white; 
  color: black !important; */
  padding: 10px;
  color: white;

  box-shadow: 5px 5px 10px black;
}

.main-header h1 {
  display: inline-block;
  margin: 0;
  /* background-color: white; */
}

.header-nav {
  float: right;
  vertical-align: middle;
  /* background-color: white; */
}

.header-nav span {
  margin-left: 10px;
  /* background-color: white; */
}

.main-header a {
  color: white;
  text-decoration: none;
}