.greeting {
  margin-top: 50px;
  /* grid-template-columns: 1fr 20px 50%; */
  grid-template-columns: 1fr 10px 50%;
}

#intro {
  grid-column: 3/4;
  grid-row: 1/2;
  /* padding: 20px; */
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 200px;

  /* display: table; */
}

#hi {
  font-size: 4em;
}

#name {
  font-size: 2em;
}

/* #hi, #name {
  display: table-cell;
  vertical-align: middle;
} */



.portrait-div {
  grid-column: 1/2;
  grid-row: 1/2;
  /* padding: 20px; */
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.portrait-div img {
  width: 100%;
}