body {
  background-color: #001011;
}

.section {
  display: grid;
  color: white;
}

.line {
  background-color: white;
}

.section-header h2 {
  margin-bottom: 0;
}

.section-header p {
  margin-top: 5px;
}

a:hover {
  color: #17bebb !important;
}


a {
  transition: all .5s;
}


@media only screen and (max-width: 1000px) {
    .line {
      display: none;
    }

    .section {
      display: block;
    }
}